<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>OCR System</title>
</head>

<body>
<div class="container mb-4">
    <h1 class="mb-4"> Optical character recognition system</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#imgRecognitionUrlModal"
            id="proceedFromUrlButton">
        Proceed from url
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#imgRecognitionFileModal"
            id="proceedFromFileButton">
        Proceed from file
    </button>
    <a type="button" class="btn btn-primary" id="visitsHistoryButton" th:href="@{/ocr/history}" href="">
        Queries history
    </a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#aboutApplication"
            id="aboutApplicationButton">
        About
    </button>
</div>

<div class="container mb-4">
    <div th:switch="${fileOrUrl}">
        <p th:case="file" class="mb-2" style="color: red">Error: File uploading failure. Please check given format and try again.</p>
        <p th:case="url" class="mb-2" style="color: red">Error: Url uploading failure. Please check given URL and try again.</p>
    </div>

</div>


<!-- MODAL: Image recognition from URL -->
<div class="modal fade" id="imgRecognitionUrlModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <form th:action="@{/ocr-proceed-url}" th:method="post">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageRecognitionUrlModalCenterTitle">Image recognition from url</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container mb-4">
                        <div class="form-group">
                            <label for="urlInput">URL</label>
                            <input type="text" class="form-control" id="urlInput" aria-describedby="formatUrlHelp"
                                   placeholder="Url to image" name="url">
                            <small id="formatUrlHelp" class="form-text text-muted">Use one of the formats: .png .jpg
                                .bmp</small>
                            <p id="ocrProceedMessage" style="color: red;">
                                **URL input is missing.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="submitFilterByCountry">Proceed</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- MODAL: Image recognition from File -->
<div class="modal fade" id="imgRecognitionFileModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <form th:action="@{/ocr-proceed-file}" th:method="post" enctype="multipart/form-data">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageRecognitionFileModalCenterTitle">Image recognition from file</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container mb-4">
                        <div class="form-group">
                            <label for="formControlFile">Select file:</label>
                            <input type="file" class="form-control-file" id="formControlFile" name="file">
                            <small id="formatFileHelp" class="form-text text-muted">Use one of the formats: .png .jpg
                                .bmp</small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="submitImgRecognitionFile">Proceed</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- MODAL: About app  -->
<div class="modal fade" id="aboutApplication" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <form>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="aboutApplicationTitle">About</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text" style="text-align: justify; text-justify: inter-word;">
                        The application provides optical character recognition(OCR) for&nbsp;images uploaded from a URL
                        address or local file. For OCR used
                        <a href="https://github.com/nguyenq/tess4j" target="_blank">Tess4J library</a>
                        which is a Java wrapper for
                        <a href="https://tesseract-ocr.github.io/" target="_blank">Tesseract OCR API</a>.
                        <br>User can view historical statistic: the number of visits on&nbsp;the&nbsp;website and number
                        of OCR successes.
                        <footer class="footer">
                            <!-- Copyright -->
                            <div class="footer-copyright" style="font-size: 0.8rem">
                                <br>Check my other projects on
                                <a href="https://github.com/Pozadr" target="_blank"> Github/Pozadr</a>
                                |
                                <a href="https://www.linkedin.com/in/adrian-p-b6765315a" target="_blank"> LinkedIn</a>
                            </div>
                            <!-- Copyright -->
                        </footer>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/validation.js}"></script>
</body>
</html>